/* ヘッダーのフォントスタイル */
h1,
h2,
h3,
h4,
h5,
h6,
header,
.title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-feature-setting: "palt";
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #444;
  line-height: 1.5rem;
  font-size: 15px;
}

h1:not(:first-child) {
  padding-top: 16px;
}

a {
  color: #71797E;
  text-decoration: underline;
}
a:hover {
  color: #71797E;
  text-decoration: none;
}
a:visited {
  color: #71797E;
}

/* 歌詞 */
.lyrics > p {
  font-family: "ToppanBunkyuMinchoPr6N-Regular", serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
@media (prefers-color-scheme: light) {
  .lyrics > p {
    color: #444;
  }
}
.lyrics > h1 {
  font-family: "ToppanBunkyuMinchoPr6N-Regular", serif;
  letter-spacing: 0.1em;
}
.lyrics > h2 {
  font-family: "ToppanBunkyuMinchoPr6N-Regular", serif;
  letter-spacing: 0.1em;
}
.lyrics > hr {
  opacity: 0;
}

/* ダークモードに関する設定 */
@media (prefers-color-scheme: dark) {
  html,
  body {
    color: #DCDCDC;
    background-color: #171717;
    /* --c-focus: var(--c-dark-focus); */
    /* --c-interactive: var(--c-dark-interactive); */
  }

  a {
    color: #DCDCDC;
    text-decoration: underline;
  }
  a:hover {
    color: #DCDCDC;
  }
  a:visited {
    color: #DCDCDC;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #F5F5F5;
  }

  /* img, video, body * [style*="background-image"] {
    filter: hue-rotate(180deg) contrast(100%) invert(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
  } */
}

@media print, screen and (max-width: 960px) {
  header {
    padding: 0 160px;
  }
}

@media print, screen and (max-width: 720px) {
  header {
    padding: 0;
  }
}

.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
.title > a {
  text-decoration: none;
}

.flag {
  margin-bottom: 20px;
  font-size: 24px;
  display: none;
}

/* 「ミライトアルマチ構想 / keisei」の色 (ライトモード) */
@media (prefers-color-scheme: light) {
  .title > a {
    color: #393939;
  }
}

/* 「ミライトアルマチ構想 / keisei」の色 (ダークモード) */
@media (prefers-color-scheme: dark) {
  .title > a {
    color: #cccccc;
  }
}

/* リンクをホバーした時などに太字にしない */
a:visited, a:hover, a:focus, a:active {
  font-weight: unset;
}

.social-media-icon {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-media-icon img {
  width: 32px;
  height: 32px;
}

.cover-image {
  text-align: center;
}

/* トップページのリンクのスタイル */
.top-link {
  letter-spacing: 0.5px; /* わずかなゆとり */
  line-height: 1.7em;
}

/* bandcamp */
.bandcamp-player {
  border: 0;
  height: 120px;
  width: 400px; /* PC, tab幅 */
  margin-bottom: 16px;
}

/* bandcamp (SP幅) */
@media print, screen and (max-width: 400px) {
  .bandcamp-player {
    width: 100%;
  }
}

/* 外部リンクマーク */
.external-link {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
