.title {
  text-align: center;
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo,
    serif;
  font-size: 1rem;
  letter-spacing: 0.17rem;
  font-weight: normal;
}

.social-media-icon {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-media-icon img {
  width: 32px;
  height: 32px;
}
