* {
  font-feature-settings: "palt";
}

:root {
  /* Dark mode colors */
  --c-dark-text: #eee;
  --c-dark-background: #121212;
  --c-dark-focus: hsl(32, 100%, 55%);
  --c-dark-interactive: hsl(150, 100%, 38%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-text: var(--c-dark-text);
    --c-background: var(--c-dark-background);
    --c-focus: var(--c-dark-focus);
    --c-interactive: var(--c-dark-interactive);
  }
}

.title {
  text-align: center;
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo,
    serif;
  font-size: 1rem;
  letter-spacing: 0.17rem;
  font-weight: normal;
}

.title > a {
  color: #393939;
}

.title > a:hover {
  font-weight: normal;
}

.social-media-icon {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-media-icon img {
  width: 32px;
  height: 32px;
}
