<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>ミライトアルマチ構想 Mirai To Aru Machi Conceptions</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="title">
          ミライトアルマチ構想 / keisei
        </h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
          <div>
            <a href="https://www.facebook.com/miraitoarumachi"><img src="images/facebook.png" alt="facebook" width="32" height="32" /></a>
          </div>
          <div>
            <a href="https://twitter.com/keisei_1092"><img src="images/twitter.svg" alt="twitter" width="32" height="32" /></a>
          </div>
          <div>
            <a href="https://instagram.com/keisei_1092"><img src="images/instagram.svg" alt="instagram" width="32" height="32" /></a>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UCFJPSBw02pquyQdiK25Q6bw"><img src="images/youtube.svg" alt="youtube" width="32" height="32" /></a>
          </div>
          <div>
            <a href="https://line.me/R/ti/p/%40pvx0971b"><img src="images/line.svg" alt="line" width="32" height="32" /></a>
          </div>
          <div>
            <a href="https://open.spotify.com/artist/3G8oOP4sooeFy69r2BzfZN"><img src="images/spotify.svg" alt="spotify" width="32" height="32" /></a>
          </div>
        </div>
      </header>
      <section style="border: none;">
        {{ content }}
      </section>
      <footer>
        <p>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
          <br />
          <small>&copy; 2019 keisei All Rights Reserved.</small>
        </p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    {% if site.google_analytics %}
    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

      ga("create", "{{ site.google_analytics }}", "auto");
      ga("send", "pageview");
    </script>
    {% endif %}
  </body>
</html>
